<!doctype html>
<html lang="en">
  <body style="background-color: #d5c600;">
    <style>
        h2 {text-align: center;}
        div {text-align: center;}
        img {
            width: 100%;
            height: auto;
        }
    </style>
    <form method="POST" action="/insert">
        {{ form.csrf_token }}
        <p> Title </p>
        {{ form.title(size=32) }}
        <p> Poster </p>
        {{ form.author(size=32) }}
        <p> Type(Book, Game, Movie) </p>
        {{ form.type(size=32) }}
        <p> Image Adress </p>
        {{ form.image_url(size=32) }}
        <p> Note/Review </p>
        {{ form.note(size=64) }}
        <p> Date(yyyy/mm/dd) </p>
        {{ form.date(size=64) }}
        <input type="submit" value="Submit">
      </form>
  </body>
  <div> <:></div>
<center>
    <a href="{{ url_for('home_page') }}">
    <button>Home</button>
</center>
</html>